In [2]:
# Librerías básicas
import numpy as np
import pandas as pd

# Librerías de procesamiento
from sklearn.preprocessing import MinMaxScaler

# Librerías del modelo 
from sklearn.ensemble import RandomForestClassifier

# Librerías de entrenamiento
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [15]:

satelitales = pd.read_csv('../Data/Boyaca_NDVI_EVI_SoilMoisture_MENSUAL_2005_2025_CLEAN.csv')
satelitales

          EVI      NDVI       fecha  year  month   yyyymm
0    0.381304  0.688825  2005-01-01  2005      1  2005-01
1    0.362783  0.668144  2005-02-01  2005      2  2005-02
2    0.379677  0.632942  2005-03-01  2005      3  2005-03
3    0.435677  0.667824  2005-04-01  2005      4  2005-04
4    0.405432  0.695091  2005-05-01  2005      5  2005-05
..        ...       ...         ...   ...    ...      ...
243  0.419982  0.695208  2025-04-01  2025      4  2025-04
244  0.434576  0.731797  2025-05-01  2025      5  2025-05
245  0.405199  0.743507  2025-06-01  2025      6  2025-06
246  0.453621  0.732904  2025-07-01  2025      7  2025-07
247  0.499423  0.701263  2025-08-01  2025      8  2025-08

[248 rows x 6 columns]

In [16]:
satelitales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   EVI     248 non-null    float64
 1   NDVI    248 non-null    float64
 2   fecha   248 non-null    object
 3   year    248 non-null    int64
 4   month   248 non-null    int64
 5   yyyymm  248 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 11.8+ KB

In [17]:
satelitales.describe()

              EVI        NDVI         year       month
count  248.000000  248.000000   248.000000  248.000000
mean     0.415884    0.690760  2014.838710    6.435484
std      0.030513    0.031170     5.980247    3.445920
min      0.322249    0.547600  2005.000000    1.000000
25%      0.396819    0.674575  2010.000000    3.000000
50%      0.419184    0.697605  2015.000000    6.000000
75%      0.437864    0.712912  2020.000000    9.000000
max      0.499423    0.746885  2025.000000   12.000000

In [18]:
rendimientos = pd.read_excel('../Data/serie-ena-departamento-cultivos-permanentes-2019-II.xlsx')
rendimientos

,Unnamed: 0,Unnamed: 1
0,NaN,NaN
1,ENCUESTA NACIONAL AGROPECUARIA - ENA,NaN
2,NaN,NaN
3,Índice serie histórica cultivos permanentes 20...,NaN
4,NaN,NaN
...,...,...
66,31,"Área sembrada, cosechada, producción y rendimi..."
67,NaN,NaN
68,32,"Área sembrada, cosechada, producción y rendimi..."
69,NaN,NaN
70,Actualizado el 29 de septiembre de 2020,NaN

In [19]:
rendimientos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  35 non-null     object
 1   Unnamed: 1  32 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [20]:
rendimientos.describe()

,Unnamed: 0,Unnamed: 1
count,35,32
unique,35,32
top,ENCUESTA NACIONAL AGROPECUARIA - ENA,"Área sembrada, cosechada, producción y rendimi..."
freq,1,1